body{
  background-color: rgb(230,230,230);
  font-family: 'Open Sans', sans-serif
  font-weight: 300;
}

h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #DD5555;
  font-size: 22px;
}

h2,h3{
  font-weight: 100;
  color: rgb(100, 100, 100);
}

h2{
  font-size: 18px;
}

h3{
  font-size: 16px;
}

ul,li,a{
  font-family: Montserrat;
  color: rgb(200, 200, 200);
  text-decoration: none;
}

p{
  font-family: 'Open Sans';
  font-weight: lighter;
  color: #7d7d7d;
  font-size:15px;
}

table td{
  display: table-cell;
  padding: 10px;
}



.card{
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.text-center{
  text-align: center;
}

.poster{
  width: 80px;
  height: 118.5px;
}

#img-profile{
  width: 150px;
  height: 150px;
  border: 3px solid rgb(230, 230, 230);
}

.img-circle{
  border-radius: 50%;
}

.btn-red{
  padding:10px;
  background-color: rgb(255, 107, 107);
  color: white;
  border-radius: 4px;
  margin-top: 5px;
  display: inline-block;
}

.list-inline {
  padding-left: 0;
  }

.list-inline li{
  display: inline-block;
  list-style: none;
  padding: 20px;
  }

.btn-red:hover{
  background-color: rgb(255, 80, 80);
}

a:hover{
  color: rgb(255, 80, 80);
}
